.cart-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px; 
  }
  
  .cart-card {
    background-color: white;
    cursor: pointer;
    padding: .8rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px; /* Reduced box shadow */
  }
  
  .cart-image {
    width: 210px; 
    height: 200px;  }
  
  .name {
    font-size: 18px;
  }
  
  .rating {
    margin-left: 50px; 
    font-size: 18px; 
  }

  .rating-star{
    /* margin-top: 15px; */
  }
  
  .author {
    font-size: 14px;
  }
  