.home{
    background-color: #F0F3FF;
    height: 100vh;
}

.home-wrapper{
    width: 1200px;
    margin: 2rem auto 0;
    padding: 1rem;
}

.empty-message{
    padding: 1.5rem;
    background-color: white;
    margin: 1rem auto;
    text-align: center;
}
