/* progress.css */
.progress-cart {
  display: flex;
  justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px; 
  }
  
  .progress-cart p {
    margin-left: 0;
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    text-overflow:ellipsis;
    width:300px;
    text-align: left;
  }
  
  .progress-cart .progress {
    margin-right: 0;
  }
  

